<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484041873600-f1c0rhq4p52gb8sp8v0crjrb9k6v2k0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484041873600-f1c0rhq4p52gb8sp8v0crjrb9k6v2k0o</string>
	<key>API_KEY</key>
	<string>AIzaSyC9e0GPdUVD3H31-mbh-_XbMvyGBw7d_LI</string>
	<key>GCM_SENDER_ID</key>
	<string>484041873600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Itesm.vacaciones-HEB</string>
	<key>PROJECT_ID</key>
	<string>heb-vacaciones-caa33</string>
	<key>STORAGE_BUCKET</key>
	<string>heb-vacaciones-caa33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484041873600:ios:c986db0e4438b97feb7525</string>
	<key>DATABASE_URL</key>
	<string>https://heb-vacaciones-caa33.firebaseio.com</string>
</dict>
</plist>